{% extends "settings/settings.html" %}
{% load i18n static %}
{% block content %}
<p>
  <a class="btn btn-default" href="{% url 'integration_list' %}">{% trans "Integration Listing" %}</a>
</p>
<table class="table">
  <tr>
    <td>ID</td>
    <td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>config</td>
  </tr>
{% for object in object_list %}
<tr>
  <td>{{ object.pk }}</td>
  <td>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </td>
  <td>{{ object.name }}</td>
  <td>{{ object.slug }}</td>
  <td>{{ object.created }}</td>
  <td>{{ object.last_updated }}</td>
  <td>{{ object.config }}</td>
</tr>
{% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'integration_create' %}">{% trans "Create A New Integration" %}</a>
{% endblock %}
